.transition-all {
  transition: all 0.3s ease-in-out;
}

/* Optional: Make the scrollbar cleaner for the dark sidebar */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 10px;
}